html{
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #F4F5EF;
}
*,*::before, *::after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
:root{
--primario: #FDC830;
--secundario: #F37335;
--gris:#3b3b3b;
--blanco: #ffffff;
--negro: #1F1E1E;
--grisClaro: #e1e1e1;

--separacion:2rem;

  --fuentePrincipal: 'Roboto',sans-serif;
  --fuenteSecundaria: 'Lato', sans-serif;
}
body{
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 2;
}
/**Globales **/
.contenedor{
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}
h1,h2,h3{
  font-weight: 900;
  font-family: var(--fuenteSecundaria);
  margin: calc(var(--separacion) / 2 ) 0;
}
a{
  font-size: 1.8rem;
  color: var(--negro);
  text-decoration: none;
  display: inline;
}
h1{ 
  font-size: 4.4rem;
}
h2{
  font-size: 3.6rem;
}
h3{
  font-size: 2.8rem;
}


/**Utilidades**/
.text-center{
  text-align: center;
}
button{
  background-color: var(--secundario);
  font-family: var(--fuentePrincipal);
  font-weight: 700;
  border: none;
  padding: 1.5rem;
  margin: 0 auto;
  border-radius: 5%;
  color: var(--blanco);
  width: 15rem;
  text-align: center;
  cursor: pointer;
}
button:hover{
  background-color:var(--primario);
  color: #1F1E1E;
}
/**header**/
.header{
  display: flex;
  width: 100%;
  transform:  scale(1);
  transition: all 0.6s;
  flex-direction: column;
  align-items: center;
  background-color: #F37335;
  
}

@media (min-width: 768px) { 
  .header{
  flex-direction: row;
  justify-content: space-around;
  
  }
}
.header img{
  max-width: 100%;
  width: 20rem;
  height: 9rem;
  object-fit: cover;
}
.enlaces ul{
  list-style: none;
}
@media (min-width: 768px) { 
  .enlaces ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    position: relative;
    flex-direction: row;
    background-color: var(--secundario);
    list-style: none;
    
  }
}
.enlaces a{
  color: var(--blanco);
  font-size: 1.5rem;
  padding-bottom: 5rem;
}
@media (min-width: 768px) { 
  .enlaces a{
  font-size: 1.8rem;
  
  }
}
.enlaces a:hover{
  color: rgb(12, 1, 1);
}
.roll{
  background-color: var(--secundario);
  position: fixed;
  transform:  scale(0.9);
  transition: all 0.6s;
  height: 10rem;
  z-index: 200; 
}
.roll ul{
  display: none;
}
@media (min-width: 768px) {
  .roll ul{
    display: flex;
  } 
  
}
.roll img{
  width: 18rem;
  transform:  scale(0.9);
  transition: all 0.6s;
}
@media (min-width: 768px) { 
  .roll{
    height: 10rem;
  }
  
}
/**slider**/
.contenedor{
  width: 100%;
  overflow: hidden;

}
.slider-contenedor{
  width: 100%;
  display: flex;
  
}

.contenido-slider{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-shrink: 0;
  
  
}


.contenido-slider>img{
max-width: 100%;
width: 100%;
height: 100%;
object-fit: contain;

}




@media (max-width:600px){
  .contenido-slider {
    flex-direction: column-reverse;
    height: 60vh;
  }
  .contenido-slider >div{
    width: 80%;
  }
}

/**nuestros servicios**/
.todos-curosos{
  padding-left: 2rem;
  
}
@media (min-width: 768px) { 
  .todos-curosos{
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40rem,1fr));
  }
} 
.servicios h2, h3{
  color: var(--secundario);
}
.cursos img{
  max-width: 95%;
  display: inline;
  width: 45rem;
  height: 30rem;
  object-fit: cover;  
  border-radius: 10%;
}
.cursos h3,.cursos p{
  padding: 0 2rem;
}
@media (min-width: 768px) { 
  .cursos h3,.cursos p{
    padding: 0 10rem;
  }
}
.cursos p{
  text-align: justify;
  color: var(--gris);
}
.cursos{
  padding: 5rem 0; 
}
@media (min-width: 768px) { 
  .cursos{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
}
/**escogenos**/
.escogenos h2{
  margin-top:10rem;
  margin-bottom: 0;
  color: var(--blanco);
  background-color: #FFB301;
  padding-left: 10rem;
  padding-bottom: 2rem;

}
.escogenos>div{
  background-color: #FFB301;
}
.logo-escogenos img{
  display: none;
  width: 20rem;

  padding-left: 5rem;
  
}

@media (min-width: 768px) { 
  .logo-escogenos img{
    max-width: 100%;
    display: block;
    width: 60rem;
    padding-left: 5rem;
  }
}
@media (min-width: 768px) { 
  .escogenos>div{
    display: grid;
  grid-template-columns: repeat(2,1fr);
  }
}

.valores img{
  max-width: 100%;
  width: 50rem;
}
.valores img{
  padding-left: 2rem;
}
@media (min-width: 768px) { 
  .valores img:nth-child(2),.valores img:nth-child(3){
    padding-left: 5rem;
  }
}

/**matriculate**/
.matriculate{
  margin: 2rem 1rem 10rem 1rem;
  column-gap:10rem;
}
@media (min-width: 768px) { 
  .matriculate{
    display: flex;
  }
}
.matriculate-imagen img{
  max-width: 100%;
  border-radius: 4rem;
  margin-top: 5rem;
}
@media (min-width: 768px) { 
  .matriculate-imagen img{
    width: 150rem;
    
  }
}
.matriculate-texto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;

}
.matriculate-texto button{
  margin-top: 3rem;
}
  
  
/**profesionales**/
.profesionales{
  background-image: linear-gradient(to bottom,transparent 50%,var(--secundario) 50% ),url(../img/grupo-inkavial.JPG);
  background-position: center,top ;
  background-repeat:no-repeat;
  background-size: 100%, 100%;
  padding-bottom: 1rem;
  max-width: 100%;
  
}
@media (min-width: 768px) { 
  .profesionales{
    background-image: linear-gradient(to right,transparent 50%,var(--secundario) 50% ),url(../img/grupo-inkavial.JPG);
    background-position: left ,left;
    padding: 10rem 0;
    background-size: 100%, 50%;
    margin-top: 10rem;
  }
}
.profesionales-grid{
  display: grid;
  grid-template-rows: repeat(2,1fr);
}
.profesionales-grid h3{
  color: var(--blanco);
}
@media (min-width: 768px) { 
  .profesionales-grid{
    grid-template-columns: repeat(2,1fr) ;
    grid-template-rows: unset;
  }
}

.texto-profesionales{
  grid-row: 2 / 3;
  color: var(--blanco);
  padding: 0 1rem;
}

@media (min-width: 768px) { 
  .texto-profesionales{
    grid-column: 2 / 3;
    padding-left: 10rem;
  }
}
/**footer**/
.footer{
  background-color: var(--gris);
  color: #fff;
  text-align: center;
}
@media (min-width: 768px) { 
  .footer{
    display: grid;
    grid-template-columns: repeat(2,1fr) 0.5fr 0.5fr;
    text-align: start;
  }
}
.footer p{
color: #e1e1e1;
}
.redes-sociales a{
  color: #e1e1e1;
  font-size: 2rem;
  margin: 0 auto;
}

.footer img{
  width: 30rem;
  padding-left: 5rem;
  display: none;
}
@media (min-width: 768px) { 
  .footer img{
    display: block;
    max-width: 100%;
    width: 30rem;
    padding-left: 5rem;
  }
}

/**Servicios**/
/**Nuestros Cursos**/

.nuestros-cursos{
  background: linear-gradient(0deg, var(--primario), rgba(0, 0, 0, 0.24)),
  url("../img/inka-premium.JPG") no-repeat center center/cover;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nuestros-cursos h3{
  color: var(--blanco);
  justify-content: center;
  font-weight: 900;
  font-size: 4.5rem;
}
@media (min-width: 768px) { 
  .nuestros-cursos h3{
    font-size: 8rem;
  }
}
/**cursos**/
.tipos-cursos{
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: solid 5px var(--secundario);
  align-items: center;
  margin: 0 2rem;
  padding-bottom: 5rem;
}
@media (min-width: 768px) { 
  .tipos-cursos{
    flex-direction: row;
    margin: 0 10rem;
  }
}

  
.inka-basico-img img{
  display: none;
  max-width: 100%;
  width: 50rem;
  border-radius: 5rem;
}
@media (min-width: 768px) { 
  .inka-basico-img img{
    display: block;
  }
}
.cursos-texto p{
  border-bottom: dotted 5px black;
}
.cursos-texto span{
  font-weight: 700;
}

.cursos-texto button{
  margin-top: 2rem;
}
/**otros cursos**/
.otros-cursos{
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 2rem;
  padding-bottom: 20rem;
}
@media (min-width: 768px) { 
  .otros-cursos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-left: 20rem;
  }
}
.contenedor-otros-cursos h2{
  padding-left: 0;
}
@media (min-width: 768px) { 
  .contenedor-otros-cursos h2{
    padding-left: 10rem;
  }
}
.otros-cursos img{
  max-width: 100%;
  width: 45rem;
}
/**Nosotros**/
/** mision**/
.nosotros-mision{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0;
  gap: 2rem;
  border-bottom: solid 6px var(--secundario);
}
@media (min-width: 768px) { 
  .nosotros-mision{
    display: flex;
    flex-direction: row;
    margin: 0 10rem;
  }

}
.nosotros-texto{
margin: auto 0;
padding: 0 4rem;

}
@media (min-width: 768px) { 
  .nosotros-texto{
    padding: 0 7rem;
  }
}
.nosotros-mision img{
  width: 70%;
  border-radius: 5rem;
  object-fit: cover;
  object-position: left 20% top 25%;
}
@media (min-width: 768px) { 
  .nosotros-mision img{
    width: 50%;
  }
}
@media (min-width: 768px) { 
  .nosotros-mision img{
    width: 40%;
  }
  
}
.css-g03djc{
  background-color: #F37335;
}

/**galeria**/
/**imagenes**/
.galeria{
  list-style: none;
  padding: 5rem 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
}
@media (min-width: 768px) { 
  .galeria{
    grid-template-columns: repeat(3,1fr);
  }
}
.galeria img{
  max-width: 100%;
  height: 30rem;
  width: 30rem;
  object-fit: cover;
  border-radius: 5rem;
}

.galeria-texto{
  background: linear-gradient(0deg, var(--primario), rgba(0, 0, 0, 0.24)),
  url("../img/galeria.JPG") no-repeat center center/cover;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/**contactanos**/
/**contactos**/
.contactanos{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  
}
.contactanos h3{
  text-align: justify;
}
@media (min-width: 768px) { 
  .contactanos{
  grid-template-columns: repeat(2,1fr);

  }


}
.contacto img{
  max-width: 100%;
  width: 50rem;
}
@media (min-width: 768px) { 
  .contacto img{
    
    width: 60rem;
  }
}
